.header {
  background-color: white;
  height: 120px;
}

.logo__title {
  color: #545454;
}

.logo__subtitle {
  color: #292929;
}

.nav__link {
  color: #545454;
}

.nav__link:hover {
  color: #292929;
}

.active .nav__link {
  color: #292929;
}

.main {
  height: 1342px;
  background-color: #F6F6F6;
}

.our-friends {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.our-friends__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
}

.our-friends__card {
  height: 435px;
}

.our-friends__title {
  text-align: center;
}

.our-friends__nav {
  height: 52px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.our-friends__nav__button {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  padding-top: 2px;
  font-family: sans-serif;
  font-size: 18px;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.our-friends__nav__button.active {
  background-color: var(--color-primary);
  cursor: default;
}

.our-friends__nav__button.disabled {
  border-color: #CDCDCD;
  color: #CDCDCD;
  cursor: default;
}

.our-friends__nav__button.disabled:hover {
  background-color: transparent;
}
