@font-face {
  font-family: Georgia;
  font-weight: 400;
  src: url("../../assets/fonts/georgia/georgia-regular.ttf");
}

@font-face {
  font-family: Arial;
  font-weight: 400;
  src: url("../../assets/fonts/arial/arial-regular.ttf");
}

:root {
  --color-main: #f1cdb3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #5b483a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #cdcdcd;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

h4 {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  letter-spacing: 0.06em;
  text-align: center;
}

ul {
  list-style-type: none;
}

.button {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  border: none;
  outline: none;
  color: #292929;
  background-color: var(--color-main);
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 0.06em;
}

.button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.section {
  width: 1280px;
  margin: 0 auto;
  padding: 80px 40px 100px 40px;
  display: flex;
}

.header {
  width: 1280px;
  height: 60px;
  padding: 0 40px 0 40px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 187px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo__title {
  margin: 0;
  width: 100%;
  height: 35px;
  color: var(--color-main);
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 0.06em;
}

.logo__subtitle {
  width: 100%;
  height: 15px;
  color: white;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
}

.nav__links {
  width: 443px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link-item {
  border-bottom: 3px solid transparent;
}

.nav__link-item:hover {
  border-bottom: 3px solid transparent;
}

.nav__link-item.active {
  border-bottom: 3px solid var(--color-main);
}

.nav__link {
  height: 24px;
  line-height: 24px;
}

.nav__link:hover {
  color: #FAFAFA;
}

.active .nav__link {
  color: #fafafa;
  cursor: default;
}

.section__not-only,
.section__footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    #211f20;
}

.not-only {
  width: 1280px;
  height: 908px;
  margin: 0 auto;
  padding: 180px 40px 0 40px;
  background: url("../../assets/images/pattern/noise_transparent@2x.png");
  display: flex;
  justify-content: space-between;
}

.not-only__text {
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 163px;
}

.not-only__title {
  width: 310px;
  height: 114px;
  color: white;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 57.2px;
}

.not-only__description {
  width: 460px;
  height: 72px;
  color: #cdcdcd;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.not-only__image {
  width: 698px;
  height: 728px;
}

.section__about {
  background-color: white;
}

.about {
  justify-content: center;
  gap: 120px;
}

.about__image {
  width: 300px;
  height: 408px;
}

.about__text {
  width: 430px;
  height: 380px;
  display: flex;
  margin-top: 14px;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: #545454;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
}

.about__title {
  width: 370px;
  height: 90px;
}

.text {
  color: #4c4c4c;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.section__pets {
  background-color: #f6f6f6;
}

.pets {
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  align-items: center;
}

.pets__title {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.pets__show {
  width: 100%;
  height: 435px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pets__cards {
  width: 990px;
  height: 435px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pets__back,
.pets__forward {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid var(--color-main);
  border-radius: 100px;
  padding-top: 2px;
  font-family: sans-serif;
  font-size: 18px;
}

.pets__card {
  width: 270px;
  height: 100%;
  border-radius: 9px;
  overflow: hidden;
  background-color: #fafafa;
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pets__card:hover {
  cursor: pointer;
  background-color: white;
}

.pets__button {
  width: 187px;
  background-color: transparent;
  border: 2px solid var(--color-main);
}

.pets__card:hover .pets__button {
  background-color: #FDDCC4;
}

.pets__button-rest {
  width: 261px;
  height: 52px;
}

.section__help {
  background-color: white;
}

.help {
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  align-items: center;
}

.help__title {
  text-align: center;
}

.help__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 53px 120px;
}

.help__card {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section__donation {
  background-color: #f6f6f6;
}

.donation {
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.donation__image {
  width: 505px;
  height: 261px;
}

.donation__content {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.donation__title {
  width: 300px;
}

.donation__subtitle {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #545454;
  letter-spacing: 0.06em;
  line-height: 110%;
}

.donation__card {
  display: block;
  width: 349px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main);
  border-radius: 9px;
}

.donation__card-icon {
  width: 30px;
  height: 23px;
}

.donation__card-number {
  color: #545454;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.donation__legal {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  color: #b2b2b2;
}

.section__footer {
  height: 350px;
}

.footer {
  height: 100%;
  padding: 40px 40px 0 40px;
  background: url("../../assets/images/pattern/noise_transparent@2x.png");
  justify-content: space-between;
}

.footer__contacts,
.footer__locations {
  width: 280px;
  height: 234px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__contacts-title,
.footer__locations-title {
  width: 100%;
  color: white;
}

.footer__contacts-email,
.footer__contacts-phone {
  display: block;
  width: 251px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts-phone {
  width: 239px;
}

.footer__contacts-email-icon,
.footer__contacts-phone-icon {
  width: 40px;
  height: 32px;
}

.footer__contacts-email-address,
.footer__contacts-phone-number,
.footer__locations-1-address,
.footer__locations-2-address {
  color: var(--color-main);
}

.footer__locations {
  width: 302px;
  height: 234px;
}

.footer__locations-icon {
  width: 22px;
  height: 32px;
}

.footer__locations-1,
.footer__locations-2 {
  display: block;
  width: 302px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__locations-2 {
  width: 269px;
  height: 32px;
}

.footer__locations-1-address {
  width: 260px;
  text-align: left;
}

.footer__image {
  width: 300px;
  height: 310px;
}
