footer {
  height: 100px;
  display: flex;
  margin-top: 30px;
  background-color: rgb(8, 64, 17);
  align-items: center;
  justify-content: space-around;
}

@media not all and (hover: none) {
  footer .footer__logo:hover {
    filter: invert(77%) sepia(58%) saturate(570%) hue-rotate(39deg) brightness(104%) contrast(104%);
      transition: all 0.5s;
  }
}

footer .footer__logo {
  filter: invert(94%) sepia(7%) saturate(129%) hue-rotate(314deg) brightness(87%) contrast(88%);
  transition: all 0.5s;
}

footer .github {
  width: 30px;
  height: auto;
}

footer .copyright {
  font-size: 14px;
  color: rgb(207, 201, 201);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

footer .copyright:before {
  content: '© ';
}

footer .rs-school {
  width: 70px;
  height: auto;
}
