.card {
  border: 1px solid black;
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
}

.card.in-cart {
  background-color: antiquewhite;
}

.card__title {
  text-align: center;
}

.card__container_img {
  text-align: center;
}

.card__list {
  padding: 0;
  list-style-type: none;
  text-align: center;
}