.sources {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 0 5px 0;
    border: 1px solid gray; 
    border-radius: 10px;
    height: 40vh;
    overflow: auto;
    gap: 0 5px;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin-top: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    text-align: center;
}

.source__item:hover,
.source__item:focus,
.source__item.selected {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
}

@media screen and (max-width: 1240px) {

    .sources {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 930px) {

    .sources {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 630px) {

    .sources {
        grid-template-columns: 1fr;
    }

}

