body {
  margin: 0; 
  padding: 0;
}

.header {
  height: 100px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__container {
  position: relative;
}

.cart__label {
  display: none;
  width: 35%;
  height: 35%;
  text-align: center;
  vertical-align: middle;
  background-color: darkgreen;
  border: 3px solid rgb(13, 149, 13);
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 0;
}

.cart__label.visible {
  display: block;
}

.container_cards {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
}