.header {
  height: 120px;
}

.logo__title {
  color: #545454;
}

.logo__subtitle {
  color: #292929;
}

.nav__link {
  color: #545454;
}

.nav__link:hover {
  color: #292929;
}

.active .nav__link {
  color: #292929;
}