body {
  background: url('../img/asphalt.png');
  background-size: 100%;
}

.car__svg_container {
  width: 100px;
  height: 100px;
}

.car {
  width: 100px;
  height: 100px;
  transform: rotate(90deg);
  stroke: white;
  stroke-width: 4;
  stroke-opacity: 1;
}
