body {
  background: url('../img/asphalt.png');
  background-size: 100%;
}

.button {

  outline: none;
  border: none;

  &_start.disabled,
  &_stop.disabled {
    background-color: rgb(234, 135, 135);
    pointer-events: none;
  }
}

.title {

  color: white;

  &__winner {
    position: absolute;
    top: 0;
    left: 50%;
    color: gold;
    display: none;
  }
}


