body {
  background: url('../img/asphalt.png');
  background-size: 100%;
}

.container {
  margin-top: 10px;
  background-color: black;
}

.car {
  width: 100px;
  height: 100px;
  stroke: white;
  stroke-width: 5rem;
  transform: rotate(90deg);
  fill: rgb(118, 222, 234);

    &__track_container {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &__svg_container {
      width: 100px;
      height: 100px;
    }

    &__span_name {
      color: white;
    }

}



