body {
  background: url('../img/asphalt.png');
  background-size: 100%;
}

.container {
  background-color: black;
}

.car__track_container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.car__svg_container {
  width: 100px;
  height: 100px;
}

.car {
  width: 100px;
  height: 100px;
  transform: rotate(90deg);
  fill: red;
}

